<div class="add-top">
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style">
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_hackernews"></a>
    <a class="addthis_button_compact"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fa2c9c92e75dacf"></script>
  <!-- AddThis Button END -->
</div>