<div class="row">
  <div class="ten columns justify">
    <h2>How did this all get started?</h2>
    <p>
      Our grandmother lived with our family when I was growing up, and unsurprisingly my brother and I are really close to her.
      Unfortunately, she's technophobic. This made it pretty tough for me to communicate with her while I was in college.
    </p>
    
    <p>
      I would email my mom and have her print out my emails and show them to my grandmother. My brother has put me to shame. He's a regular
      pen pal with our grandmother. They write long handwritten letters back and forth.
    </p>
    
    <h4>My wish</h4>
    <p>
      I wish there had been a way for me to easily send snail mail letters to my grandmother, so she could get the excitement of getting my
      letter in the mail.
    </p>
    
    <p>
      Then it hit me. Getting mail is exciting. The problem is that it takes so much more effort than just shooting off an email. Why not make
      it super easy for people to be able to send unique snail mail letters to each other?
    </p>
    
    <h4>My vision</h4>
    <p>
      <strong>Classy Letters</strong> is going to start with a few offerings for preparing your letters:
    </p>
    <ol>
      <li>Handwriting your message on nice stationary (print, cursive, or calligraphy)</li>
      <li>Wax sealing the envelope</li>
      <li>Doodled border</li>
      <li>Lipstick kiss on the envelope</li>
      <li>Teardrops on the stationary</li>
      <li>In-person delivery</li>
    </ol>
    
    <p>
      All of these options leave a truly lasting impression.
    </p>
    
    <div class="center">
      <%= render :partial => 'sign_up_or_compose' %>
    </div>
  </div>
</div>