<%= render :partial => 'open_graph' %>

<div class="row">
  <div class="sixteen columns">
    <h2>Contact Us</h2>
  </div>
  <div class="five columns">
    <blockquote>
      <h5>Phone</h5>
      (415) 867-2705<br>
      <hr/>
      <h5>Snail Mail</h5>
      776 University Ave.<br>
      Palo Alto, CA 94301<br>
      <hr>
      <h5>Twitter</h5>
      <%= link_to "@myclassyletters", "http://www.twitter.com/myclassyletters", :target => "_blank" %>
      <hr>
      <%= render 'shared/addthis' %>
    </blockquote>
  </div>
  <div class="eleven columns">
    <h4>Team</h4>
    <h5>Cyrus Stoller</h5>
    <p>
      Cyrus is old school. He wears loafers, drinks martinis, and writes letters by hand. But Cyrus is living in a new school world,
      where stamps and stationary are hard to come by and the postman only rings once a day.
      Now Cyrus can send hand-crafted, personalized letters any time.
    </p>
    
    <h5>Ezra Stoller</h5>
    <p>
      Ezra is what you might call, "the creative one." He is an accomplished Chinese brush painter and writes cursive to rival elementary 
      school teachers. A sentimentalist at heart, he knows the importance of sending a Classy Letter.
    </p>
    
    <div class="center">
      <%= image_tag "supplies.png", :class => "supplies" %><br>
      <small>Photo Credit: Eric Cooperman</small>
    </div>
  </div>
</div>