<div class="row">
  <div class="sixteen columns">
    <h2>Contact Us</h2>
    
    <p>
      Send us a snail mail letter to
      
      <pre>
        776 University Ave.
        Palo Alto, CA 94301
      </pre>
    </p>
    
    <p>
      Give us a call at 
      <pre>
        (415) 867-2705
      </pre>
    </p>    
  </div>
</div>
