<%= render :partial => 'open_graph' %>

<div class="row">
  <div class="sixteen columns">
    <h2>Contact Us</h2>
  </div>
  <div class="five columns">
    <blockquote>
      <h5>Phone</h5>
      (415) 867-2705<br>
      <hr/>
      <h5>Snail Mail</h5>
      776 University Ave.<br>
      Palo Alto, CA 94301<br>
      <hr>
      <h5>Twitter</h5>
      @classyletters
    </blockquote>
  </div>
</div>
