<div class="row">
  <div class="ten columns justify">
    <h2>Frequently Asked Questions</h2>
    <ul class="square">
      <li>
        <h4>How much does this cost?</h4>
        <p>The basic lettre is US$ 9.99. That includes all of the supplies and postage.</p>
      </li>
      
      <li>
        <h4>Can I send a lettre anonymously?</h4>
        <p>If you really want to, though we think you'll want to take credit for it.</p>
      </li>
      
      <li>
        <h4>Will you check my spelling / grammar?</h4>
        <p>
          Your message will be delivered verbatim. 
          Some of our clients add intentional misspellings to make their lettres feel more authentic.
        </p>
      </li>
      
      <li>
        <h4>Couldn't I just do this on my own?</h4>
        <p>
          Odds are that your time is worth more than the US$ 9.99 that we're charging you to send a Classy Lettre for a special occasion.
        </p>
      </li>    
    </ul>
  </div>
</div>