<div class="row">
  <div class="vertical-buffer-large" />
  <div class="sixteen columns center">
    <h3>
      No two lettres are the same.
    </h3>
    
    <h3>
      Leave a lasting impression.
    </h3>
  </div>

</div>


<div class="row">
  <div class="sixteen columns">
    <div class="vertical-buffer-large"></div>
    
    <blockquote>
      <p class="justify">
        <strong>Classy Lettres</strong> is an easy way send a lettre written on parchment and closed with a wax seal.
      
        Whether it's a "Thank you", special card to Mom on Mother's day, or a prank love lettre to friend, you'll be talking about this 
        Classy Lettre for a long time. 
      
        Show your colleagues, family, and friends that you care.
      </p>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="one-third column center">
    <div class="flash info">
      1. Compose your <strong>Lettre</strong>
    </div>
  </div>
  <div class="one-third column center">
    <div class="flash info">
      2. Customize your <strong>Delivery</strong>
    </div>
  </div>
  <div class="one-third column center">
    <div class="flash info">
      3. Wait for a grateful <strong>Response</strong>
    </div>
  </div>
  
  <div class="sixteen columns center add-top">
    <h4><strong>
      <%= link_to "Compose your first Classy Lettre" %>
    </strong></h4>
  </div>
</div>
