<div class="row">
  <div class="vertical-buffer-large" />
  <div class="sixteen chubby columns center">
    <h3>
      No two lettres are the same.
    </h3>
    
    <h3>
      Leave a lasting impression.
    </h3>
  </div>

</div>


<div class="row">
  <div class="sixteen chubby columns">
    <div class="vertical-buffer-large"></div>
    
    <blockquote>
      <p class="justify">
        <strong>Classy Lettres</strong> is an easy way send a lettre written on parchment and closed with a wax seal.
      
        Whether it's a "Thank you", special card to Mom on Mother's day, or a prank love lettre to friend, you'll be talking about this 
        Classy Lettre for a long time. 
      
        Show your colleagues, family, and friends that you care.
      </p>
    </blockquote>
    
  </div>
</div>