<div class="five chubby columns">
  <h4>Here's how it works:</h4>
  <ol>
    <li>Type your <strong>Lettre</strong></li>
    <li>Customize your special <strong>Delivery</strong></li>
    <li>Wait for a grateful <strong>Response</strong></li>
  </ol>
</div>