<div class="sixteen columns">
  <div class="eight columns alpha">
    <h2>My Lettre Orders</h2>
  </div>
  <div class="eight columns right omega">
    <%= link_to 'New Lettre order', new_lettre_order_path, :class => "button" %>
  </div>

  <!-- Standard <ul> with class of "tabs" -->
  <ul class="tabs">
    <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
    <li><a class="active" href="#all">Drafts</a></li>
    <li><a href="#not_delivered">Purchased, but not delivered yet</a></li>
    <li><a href="#delivered">Delivered</a></li>
  </ul>

  <!-- Standard <ul> with class of "tabs-content" -->
  <ul class="tabs-content">
    <!-- Give ID that matches HREF of above anchors -->
    <li class="active" id="all">
      <% if @lettre_order_drafts.nil? or @lettre_order_drafts.empty? %>
        <div class="info">
          You don't have any drafts for lettre orders right now.
        </div>
      <% else %>
        <%= render :collection => @lettre_order_drafts, :partial => "lettre_order", :as => "lettre_order", :spacer_template => "shared/spacer" %>
      <% end %>
    </li>
    <li id="not_delivered">
      <% if @lettre_orders_purchased.nil? or @lettre_orders_purchased.empty? %>
        <div class="info">
          You don't have any purchased orders that haven't been delivered yet.
        </div>
      <% else %>
        <%= render :collection => @lettre_orders_purchased, :partial => "lettre_order", :as => "lettre_order", :spacer_template => "shared/spacer" %>
      <% end %>
    </li>
    <li id="delivered">
      <% if @lettre_orders_delivered.nil? or @lettre_orders_delivered.empty? %>
        <div class="info">
          You don't have any purchased orders that have been delivered yet.
        </div>
      <% else %>
        <%= render :collection => @lettre_orders_delivered, :partial => "lettre_order", :as => "lettre_order", :spacer_template => "shared/spacer" %>
      <% end %>      
    </li>
  </ul>
  
</div>