<div class="sixteen columns">
  <div class="eight columns alpha">
    <h2>My Lettre Orders</h2>
  </div>
  <div class="eight columns right omega">
    <%= link_to 'New Lettre order', new_lettre_order_path, :class => "button" %>
  </div>

  <!-- Standard <ul> with class of "tabs" -->
  <ul class="tabs">
    <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
    <li><a class="active" href="#all">Drafts</a></li>
    <li><a href="#not_delivered">Purchased, but not delivered yet</a></li>
    <li><a href="#delivered">Delivered</a></li>
  </ul>

  <!-- Standard <ul> with class of "tabs-content" -->
  <ul class="tabs-content">
    <!-- Give ID that matches HREF of above anchors -->
    <li class="active" id="all">
      <%= render :collection => @lettre_orders, :partial => "lettre_order", :as => "lettre_order", :spacer_template => "shared/spacer" %>
    </li>
    <li id="not_delivered">
      <%= render :collection => @not_delivered, :partial => "lettre_order", :as => "lettre_order", :spacer_template => "shared/spacer" %>
    </li>
    <li id="delivered">
      <%= render :collection => @delivered, :partial => "lettre_order", :as => "lettre_order", :spacer_template => "shared/spacer" %>
    </li>
  </ul>
  
</div>