.lettre_message {
	font-family: "Rokkit", courier;
	font-size: 16px;
	line-height: 24px;
	padding:10px;
}

#stylized_sig{
	font-family:"Gochi Hand", Verdana;
	font-size: 40px;
}

.well{ 
	padding:0.8em; 
	border: 2px solid #ccc; 
}

.right-buffer {
	margin-right:20px;
}